.DS_Store
.env*
!.env.sample

__pycache__/
*.pyc
*.pyo
*.pyd
*.pyw
*.pyz
*.pywz
*.pyzw
.venv/

images/
output/

*.png
*.jpg
*.jpeg
*.gif
*.webp
*.bmp
*.tiff
*.ico
*.svg
*.webp

push.sh
outputs/
tests/results/
